[user]
	name = Pavlos Melissinos
	email = pmelissi@gmail.com
[core]
	autocrlf = false
	attributesfile = /home/thirstytm/.gitattributes
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[pull]
	rebase = false
[merge]
	conflictStyle = diff3
[init]
	defaultBranch = main
[diff "clojure"]
	xfuncname = (^\\(.*|\\s*\\(defn.*)
[github]
	user = PavlosMelissinos
