*

!.gitignore
!.gitconfig
!.tmux.conf
!.tmux.conf.local
!.zshrc
!.antigen.zsh
!README.md

!.config/
!.config/*
.config/*
!.config/flashfocus/
!.config/flashfocus/*
!.config/gammastep/
!.config/gammastep/*
!.config/mako/
!.config/mako/*
!.config/redshift/
!.config/redshift/*
!.config/swappy/
!.config/swappy/*
!.config/sway/
!.config/sway/*
!.config/waybar/
!.config/waybar/*
!.config/wlogout/
!.config/wlogout/*
!.config/wofi/
!.config/wofi/*
!bin/
!bin/pavolume
