*

!bin/
!bin/pavolume
!.gitignore
!.gitconfig
!.tmux.conf
!.tmux.conf.local
!.zshrc
!.antigen.zsh
!README.md
!.clojure/
!.clojure/*

!.config/
!.config/*
.config/*
!.config/alacritty/
!.config/alacritty/*
!.config/emacs/
!.config/emacs/**
!.config/flashfocus/
!.config/flashfocus/*
!.config/gammastep/
!.config/gammastep/*
!.config/git/
!.config/git/*
!.config/guix/
!.config/guix/*
!.config/mako/
!.config/mako/*
!.config/redshift/
!.config/redshift/*
!.config/swappy/
!.config/swappy/*
!.config/sway/
!.config/sway/*
!.config/swaylock/
!.config/swaylock/*
!.config/waybar/
!.config/waybar/*
!.config/wlogout/
!.config/wlogout/*
!.config/wofi/
!.config/wofi/*
