*

!.gitignore
!.gitconfig
!.tmux.conf
!.tmux.conf.local
!.zshrc
!.antigen.zsh
!README.md

!.config/
!.config/*
.config/*
!.config/redshift/
!.config/redshift/*
!.config/sway/
!.config/sway/*
!.config/waybar/
!.config/waybar/*
!.config/wofi/
!.config/wofi/*
!bin/
!bin/pavolume
