**/*.sqlite
.cache/
.dap-breakpoints
.lsp-session-v1
.mc-lists.el
.org-id-locations
.org-id-locations-backup
auto-save-list
bookmarks
cider-history
eln-cache/
elpa
ido.last
org-roam.db
projectile-bookmarks.eld
recentf
request
tramp
transient/
url/
