*
!.gitignore

!alacritty/
!alacritty/*
!clojure/
!clojure/**
!emacs/
!emacs/**
!flashfocus/
!flashfocus/*
#!gammastep/
#!gammastep/*
!git/
!git/*
!guix/
!guix/*
!home-manager/
!home-manager/*
!mako/
!mako/*
!mpv/
!mpv/*
!swappy/
!swappy/*
!sway/
!sway/*
!swaylock/
!swaylock/*
!tmux/
!tmux/**
!waybar/
!waybar/*
!wlogout/
!wlogout/*
!wofi/
!wofi/*
!zsh/
!zsh/*
